In [2]:
r = rand(0:10, 10)

10-element Array{Int64,1}:
 3
 2
 6
 1
 8
 9
 0
 0
 3
 6

In [3]:
maximum(r)

9

In [4]:
r = rand(0:10, 10); 
s = rand(0:10, 10); 
t = rand(0:10,10);

In [5]:
r

10-element Array{Int64,1}:
 3
 3
 2
 8
 4
 5
 0
 8
 5
 2

In [6]:
s

10-element Array{Int64,1}:
  7
  2
  3
  6
  2
  9
  3
  8
 10
  3

In [7]:
t

10-element Array{Int64,1}:
 10
  9
  9
  4
  5
  0
  4
  8
  8
  3

In [8]:
max(r, s, t)

10-element Array{Int64,1}:
 10
  9
  9
  4
  5
  0
  4
  8
  8
  3

In [9]:
a = rand(0:10,10, 10)

10×10 Array{Int64,2}:
 0  0   6  10  0  7  0  4   4  2
 9  4   7   9  8  6  7  0  10  5
 7  6   2   4  1  5  8  5   5  2
 1  0   5  10  4  9  6  1   2  0
 5  9   6   6  1  7  7  8   4  0
 4  0   3   2  9  2  9  2   0  3
 0  6   3   7  5  6  3  2   4  7
 2  7   7   7  3  5  6  4   2  1
 4  4  10   2  3  1  1  6   0  9
 6  8   2   6  8  7  8  5   1  4

In [10]:
 a[a .== 0] .= 11;

In [11]:
a

10×10 Array{Int64,2}:
 11  11   6  10  11  7  11   4   4   2
  9   4   7   9   8  6   7  11  10   5
  7   6   2   4   1  5   8   5   5   2
  1  11   5  10   4  9   6   1   2  11
  5   9   6   6   1  7   7   8   4  11
  4  11   3   2   9  2   9   2  11   3
 11   6   3   7   5  6   3   2   4   7
  2   7   7   7   3  5   6   4   2   1
  4   4  10   2   3  1   1   6  11   9
  6   8   2   6   8  7   8   5   1   4

In [12]:
 a[a .== 7] .= 11;

In [13]:
a

10×10 Array{Int64,2}:
 11  11   6  10  11  11  11   4   4   2
  9   4  11   9   8   6  11  11  10   5
 11   6   2   4   1   5   8   5   5   2
  1  11   5  10   4   9   6   1   2  11
  5   9   6   6   1  11  11   8   4  11
  4  11   3   2   9   2   9   2  11   3
 11   6   3  11   5   6   3   2   4  11
  2  11  11  11   3   5   6   4   2   1
  4   4  10   2   3   1   1   6  11   9
  6   8   2   6   8  11   8   5   1   4

In [14]:
table = [r * c for r in 1:5, c in 1:5]

5×5 Array{Int64,2}:
 1   2   3   4   5
 2   4   6   8  10
 3   6   9  12  15
 4   8  12  16  20
 5  10  15  20  25

In [15]:
table[1, :]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [16]:
table[2:3,:]

2×5 Array{Int64,2}:
 2  4  6   8  10
 3  6  9  12  15

In [17]:
table[:, 2]

5-element Array{Int64,1}:
  2
  4
  6
  8
 10

In [18]:
table[:]

25-element Array{Int64,1}:
  1
  2
  3
  4
  5
  2
  4
  6
  8
 10
  3
  6
  9
 12
 15
  4
  8
 12
 16
 20
  5
 10
 15
 20
 25

In [19]:
table[:, 2:3]

5×2 Array{Int64,2}:
  2   3
  4   6
  6   9
  8  12
 10  15

In [20]:
a = 1:10

1:10

In [21]:
a

1:10

In [22]:
3 in a

true

In [23]:
in(3, a)

true

In [24]:
smallprimes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29];

In [25]:
findfirst(isequal(13), smallprimes)

6

In [26]:
smallprimes[6]

13

In [27]:
smallprimes[6]

13

In [28]:
findall(isinteger, smallprimes)

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [29]:
findfirst(x -> x == 13, smallprimes)

6

In [30]:
findall(iseven, smallprimes)

1-element Array{Int64,1}:
 1

In [31]:
smallprimes[findall(isodd, smallprimes)]

9-element Array{Int64,1}:
  3
  5
  7
 11
 13
 17
 19
 23
 29

In [32]:
findfirst(iseven, smallprimes)

1

In [33]:
smallprimes[findfirst(iseven, smallprimes)]

2

In [34]:
findnext(isodd, smallprimes, 1 + findfirst(isequal(13), smallprimes))

7

In [35]:
smallprimes[ans]

17

In [36]:
smallprimes[ans]

BoundsError: BoundsError: attempt to access 10-element Array{Int64,1} at index [17]

In [37]:
smallprimes[3]

5

In [38]:
smallprimes[5]

11

In [39]:
a2 = [1 2 3; 4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [40]:
ndims(a2)

2

In [41]:
size(a2)

(3, 3)

In [42]:
length(a2)

9

In [43]:
count(!iszero, a2)

9

In [44]:
CartesianIndices(a2)[6]

CartesianIndex(3, 2)

In [45]:
LinearIndices(a2)[3, 2]

6

In [46]:
[2x for x in 1:10]

10-element Array{Int64,1}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [47]:
[2x for x in 1:10] |> diff

9-element Array{Int64,1}:
 2
 2
 2
 2
 2
 2
 2
 2
 2

In [48]:
odds = collect(1:2:10)

5-element Array{Int64,1}:
 1
 3
 5
 7
 9

In [49]:
evens = collect(2:2:10)

5-element Array{Int64,1}:
  2
  4
  6
  8
 10

In [50]:
union(odds, evens)

10-element Array{Int64,1}:
  1
  3
  5
  7
  9
  2
  4
  6
  8
 10

In [51]:
union(1:5, 1:10, 5:-1:-5)

16-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
  0
 -1
 -2
 -3
 -4
 -5

In [52]:
intersect(1:10, 5:15)

5:10

In [53]:
intersect(5:20, 1:15, 3:12)

5:12

In [54]:
setdiff(1:15, 5:20)

4-element Array{Int64,1}:
 1
 2
 3
 4

In [55]:
setdiff(5:20, 1:15)

5-element Array{Int64,1}:
 16
 17
 18
 19
 20

In [56]:
filter(isodd, 1:10)

5-element Array{Int64,1}:
 1
 3
 5
 7
 9

In [57]:
count(isodd, 1:100)

50

In [58]:
any(isodd, 1:100)

true

In [59]:
all(isodd, filter(isodd, 1:100))

true

In [60]:
a = collect(1:100);

In [61]:
a[rand(1:end)]

59

In [62]:
a = rand(100:110, 10)

10-element Array{Int64,1}:
 102
 105
 106
 105
 102
 100
 107
 107
 107
 107

In [63]:
extrema(a)

(100, 107)

In [64]:
findmax(a)

(107, 7)

In [65]:
maximum(x -> last(x), [(1, 2), (2, 23), (8, 12), (7, 2)])

23

In [66]:
sum(a)

1048

In [67]:
mean(a)

UndefVarError: UndefVarError: mean not defined

In [68]:
prod(1:10)

3628800

In [69]:
prod(1:3)

6

In [70]:
middle(a)

UndefVarError: UndefVarError: middle not defined

In [71]:
sum(sqrt, 1:10)

22.4682781862041

In [72]:
mean(sqrt, 1:10)

UndefVarError: UndefVarError: mean not defined

In [73]:
Pkg
Pkg.add("Combinatorics")

UndefVarError: UndefVarError: Pkg not defined

In [74]:
using Combinatorics

ArgumentError: ArgumentError: Package Combinatorics not found in current path:
- Run `import Pkg; Pkg.add("Combinatorics")` to install the Combinatorics package.

In [75]:
collect(combinations(a, 3))

UndefVarError: UndefVarError: combinations not defined

In [76]:
length(permutations(a))

UndefVarError: UndefVarError: permutations not defined

In [77]:
a = collect(1:10); push!(a, 20)

11-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 20

In [78]:
pushfirst!(a, 0)

12-element Array{Int64,1}:
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 20

In [79]:
 a = [1, 2, 3, 5, 6, 7, 8, 9]

8-element Array{Int64,1}:
 1
 2
 3
 5
 6
 7
 8
 9

In [80]:
splice!(a, 4:5, 4:6)

2-element Array{Int64,1}:
 5
 6

In [81]:
a

9-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 7
 8
 9

In [82]:
 L = ['a','b','f']

3-element Array{Char,1}:
 'a'
 'b'
 'f'

In [83]:
splice!(L, 3:2, ['c','d','e'])

0-element Array{Char,1}

In [84]:
L

6-element Array{Char,1}:
 'a'
 'b'
 'c'
 'd'
 'e'
 'f'

In [85]:
a = collect(1:10);

In [86]:
a

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [87]:
splice!(a,5);

In [88]:
a

9-element Array{Int64,1}:
  1
  2
  3
  4
  6
  7
  8
  9
 10

In [89]:
pop!(a)

10

In [90]:
popfirst!(a)

1

In [91]:
a = collect(1:10);

In [92]:
findfirst(isequal(6), a)

6

In [93]:
deleteat!(a, findfirst(isequal(6), a))

9-element Array{Int64,1}:
  1
  2
  3
  4
  5
  7
  8
  9
 10

In [94]:
deleteat!(a, 2:6)

4-element Array{Int64,1}:
  1
  8
  9
 10

In [95]:
deleteat!(a, 2:6)

BoundsError: BoundsError: attempt to access 4-element Array{Int64,1} at index [6]

In [96]:
a

4-element Array{Int64,1}:
  1
  8
  9
 10

In [97]:
rotr90([1 2 3 ; 4 5 6])

3×2 Array{Int64,2}:
 4  1
 5  2
 6  3

In [98]:
circshift(1:6, 1)

6-element Array{Int64,1}:
 6
 1
 2
 3
 4
 5

In [99]:
table = collect(r*c for r in 1:5, c in 1:5)

5×5 Array{Int64,2}:
 1   2   3   4   5
 2   4   6   8  10
 3   6   9  12  15
 4   8  12  16  20
 5  10  15  20  25

In [100]:
circshift(table, (0, 1))

5×5 Array{Int64,2}:
  5  1   2   3   4
 10  2   4   6   8
 15  3   6   9  12
 20  4   8  12  16
 25  5  10  15  20

In [101]:
a = collect(1:10);

In [102]:
a[9]= -9

-9

In [103]:
a

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
 -9
 10

In [104]:
a[3:6] .= -5

4-element view(::Array{Int64,1}, 3:6) with eltype Int64:
 -5
 -5
 -5
 -5

In [105]:
a

10-element Array{Int64,1}:
  1
  2
 -5
 -5
 -5
 -5
  7
  8
 -9
 10

In [106]:
a[3:9] = collect(9:-1:3)

7-element Array{Int64,1}:
 9
 8
 7
 6
 5
 4
 3

In [107]:
a[1:10] .= -1;

In [108]:
a

10-element Array{Int64,1}:
 -1
 -1
 -1
 -1
 -1
 -1
 -1
 -1
 -1
 -1

In [109]:
setindex!(a, 1:10, 10:-1:1)

10-element Array{Int64,1}:
 10
  9
  8
  7
  6
  5
  4
  3
  2
  1

In [110]:
a = collect(1:10);

In [111]:
b = a[:]

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10